node_modules
dist
dist-ssr
.env
.env.*
!.env.example
.git
.gitignore
*.local
npm-debug.log*
logs
*.log
.vscode
.idea
.DS_Store
README.md
docs
backend
123.tsx
audioData.tsx
audioDataHard.tsx
audioDataMedium.tsx
