@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: "Manrope", sans-serif, 'Manrope', 'reddit-sans', 'inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.797);
  background-color: #ebebeb;
  /* #3e2626; #1f1f1f; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Optional: prevents horizontal scroll if needed */
}


